
{% extends "base.html" %}
{% block content %}
    <h1> {{ book.title }}<span class="glyphicon glyphicon-erase"></span></h1>
    <small>Author: {{ book.author }} </small>
    <h3>Genre:
        {% if book.genre.all %}
            {% for genre in book.genre.all %}
                <span class="badge bg-secondary"> {{ genre.genre_name }}</span>
                {% if not forloop.last %}, {% endif%}
            {% endfor %}
        {% else %}
            None
        {% endif %}
    </h3>

    <hr>
{% endblock %}